@layer base {
  html {
    background-color: white;
    color: black;
  }
  body {
    background-color: white;
    color: black;
  }
}

.overlay {
  background-color: hsl(0, 0%, 90%);
  mix-blend-mode: difference;
  pointer-events: none;
  content: "";
  position: fixed;
  bottom: -20%;
  top: -20%;
  right: -20%;
  left: -20%;
  z-index: 10;
}

html,
body {
  height: 100%;
}

.pure {
  all: initial;
}

.square,
.circle {
  display: block;
  width: 90%;
  height: 50%;
  margin: 5%;
}

.circle {
  border-radius: 9999999px;
}

.text-light {
  color: #eee;
}
.text-dark {
  color: #333;
}

.red {
  background: lightcoral;
  box-shadow: 0 0 5px 3px #555;
}
.dark-red {
  background: darkred;
}
.yellow {
  background: lightyellow;
}
.dark-yellow {
  background: darkgoldenrod;
}
.blue {
  box-shadow: 0 0 5px 3px white;
  background: lightblue;
}
.dark-blue {
  background: darkblue;
}
.green {
  background: lightgreen;
}
.dark-green {
  background: darkgreen;
}
