@layer base {
  [data-dark-mode-on] body {
    background-color: white;
    color: black;
  }
}

[data-dark-mode-on] {
  filter: invert(0.95) hue-rotate(180deg);
}

[data-dark-mode-on] body {
  filter: invert(0.05);
}

[data-dark-mode-on] img,
[data-dark-mode-on] svg,
[data-dark-mode-on] video,
[data-dark-mode-on] iframe,
[data-dark-mode-on] [style*="background-image"] {
  filter: invert(1) hue-rotate(180deg) saturate(1.1);
}

/* 
            transition: opacity 0.1s ease 0s;
            z-index: 2147483647;
            margin: 0;
            border-radius: 0;
            padding: 0;
            background: #fac563;
            pointer-events: none;
            position: fixed;
            top: -10%;
            right: -10%;
            width: 120%;
            height: 120%;
            opacity: 0.5;
            mix-blend-mode: multiply;

    transition: none 0s ease 0s;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    outline: none;
    visibility: visible;
    max-height: none;
    max-width: none;
    clip: unset;
    overflow: visible;
    opacity: 1;
    position: fixed;
    inset: -10%;
    width: auto;
    height: auto;
    z-index: 2147483645;
    background: rgba(241, 178, 116, 0.25);
    mix-blend-mode: multiply; */
