$itemsToInvert: "\
  img,video,object,iframe,canvas,\
  [data-da-bg-color=dark][data-da-size=sm],\
  [data-da-bg-color=dark][data-da-size=md],\
  [data-da-bg-color=dark][data-da-size=lg],\
  [data-da-bg-color=medium][data-da-size=xs],\
  [data-da-bg-color=medium][data-da-size=sm],\
  [id*=yandex_rtb],\
  [style*='url('],\
  [data-da-emoji],\
";

@layer da-base {
  html[data-da="on"] {
    &[data-da-text-color="both"] body,
    &[data-da-text-color="body"] body {
      color: #000;
    }

    &[data-da-back-color="both"] body,
    &[data-da-back-color="body"] body {
      background: #fff;
    }

    // have to reset because color-scheme=dark changes some input colors
    // https://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
    input,
    select,
    button,
    textarea {
      color: #000;
      background: #fff;
    }
  }
}

html[data-da="on"] {
  // 0.9 for lighter grayish
  filter: invert(0.9) hue-rotate(180deg) !important;

  body {
    #{$itemsToInvert} {
      filter: invert(1) hue-rotate(180deg) brightness(1.1) !important;

      * {
        filter: initial !important;
      }
    }

    :fullscreen {
      filter: initial !important;
    }
  }
}

// needed for detecting system color changes
[data-da-scheme="dark"] {
  color-scheme: dark !important;
}
[data-da-scheme="light"] {
  color-scheme: light !important;
}

// apply color scheme only when not detecting
html[data-da="on"]:not([data-da-scheme]),
html[data-da="on"]:not([data-da-scheme]) body {
  color-scheme: dark !important;
}
