$itemsToInvert: "\
  img,video,object,embed,iframe,canvas,\
  [data-sdm-bg-color=dark][data-sdm-size=sm],\
  [data-sdm-bg-color=dark][data-sdm-size=md],\
  [data-sdm-bg-color=dark][data-sdm-size=lg],\
  [data-sdm-bg-image],\
  [data-sdm-bg-image],\
  [style*='url('],\
  [id*=yandex_rtb],\
  [data-sdm-emoji],\
";

html[data-sdm="on"] {
  // ~0.9 for lighter grayish
  filter: invert(0.92) hue-rotate(180deg) !important;

  body {
    #{$itemsToInvert} {
      filter: invert(1) hue-rotate(180deg) brightness(1.1) !important;

      * {
        filter: initial !important;
      }
    }

    :fullscreen {
      filter: initial !important;
    }
  }
}

// needed for detecting system colors
[data-sdm-scheme="dark"] {
  color-scheme: dark !important;
}
[data-sdm-scheme="light"] {
  color-scheme: light !important;
}

html[data-sdm-dark-scroll="on"] {
  &[data-sdm-text-color="both"] body {
    color: #000;
  }
  &[data-sdm-text-color="both"] body {
    color: inherit;
  }
  &[data-sdm-back-color="both"] body {
    background: #fff;
  }
  &[data-sdm-back-color="body"] body {
    background: inherit;
  }
}
