@use "sass:color";

$back-color: #222;
$back-color-light: #222;
$track-border-color: #363636;
$thumb-color: hsl(0, 0%, 50%);
$thumb-shadow-color: #1b1b1b;

html.sdm-power-on.sdm-custom-scroll-on,
html.sdm-default-custom-scroll-on {
  ::-webkit-scrollbar {
    all: initial;
    width: 13px;
    height: 13px;
    background: #{$back-color};
  }
  [data-sdm-back="light"]::-webkit-scrollbar,
  [data-sdm-back="light"] ::-webkit-scrollbar {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    all: initial;
    border: 0 solid #{$track-border-color};
  }
  [data-sdm-back="light"]::-webkit-scrollbar-track,
  [data-sdm-back="light"] ::-webkit-scrollbar-track {
    border-color: transparent;
  }
  ::-webkit-scrollbar-track:horizontal {
    border-top-width: 1px;
  }
  ::-webkit-scrollbar-track:vertical {
    border-left-width: 1px;
  }

  ::-webkit-scrollbar-corner {
    all: initial;
    background: #{$back-color};
  }
  [data-sdm-back="light"]::-webkit-scrollbar-corner,
  [data-sdm-back="light"] ::-webkit-scrollbar-corner {
    background: color.invert($back-color);
  }

  ::-webkit-scrollbar-thumb {
    all: initial;
    border-radius: 9999px;
    background: #{$thumb-color};
    border: 4px solid transparent;
    background-clip: padding-box;
  }
}
