@use "sass:color";

$back-color: #222;
$track-border-color: #363636;
$thumb-color: #656565;
$thumb-shadow-color: #1b1b1b;

html.sdm-power-on.sdm-custom-scroll-on,
html.sdm-default-custom-scroll-on {
  &,
  * {
    scrollbar-color: #{$back-color} #{$thumb-color};
  }

  ::-webkit-scrollbar {
    all: initial;
    width: 14px;
    height: 14px;
    background: #{$back-color};
  }
  // [data-sdm-back="light"]::-webkit-scrollbar {
  //   background: color.invert($back-color);
  // }

  ::-webkit-scrollbar-track {
    all: initial;
    border: 0 solid #{$track-border-color};
    background: #{$back-color};
  }
  // [data-sdm-back="light"]::-webkit-scrollbar-track {
  //   background: color.invert($back-color);
  //   border-color: color.invert($track-border-color);
  // }

  ::-webkit-scrollbar-track:horizontal {
    border-top-width: 1px;
  }
  ::-webkit-scrollbar-track:vertical {
    border-left-width: 1px;
  }
  ::-webkit-scrollbar-corner {
    all: initial;
    background: #{$back-color};
  }
  // [data-sdm-back="light"]::-webkit-scrollbar-corner {
  //   background: color.invert($back-color);
  // }

  ::-webkit-scrollbar-thumb {
    all: initial;
    border-radius: 9999px;
    background: #{$thumb-color};
    box-shadow: inset 0 0 1px 0 #{$thumb-shadow-color};
    border: 4px solid #{$back-color};
    background-clip: padding-box;
  }
  // [data-sdm-back="light"]::-webkit-scrollbar-thumb {
  //   background: color.invert($thumb-color);
  //   box-shadow: inset 0 0 1px 0 color.invert($thumb-shadow-color);
  //   border-color: color.invert($back-color);
  // }
}
